# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.ncb
*.opensdf
*.sdf
*.ipch
Debug*/
Release*/
x64*/
Win32*/
*.log

# Build artifacts
*.obj
*.exe
*.dll
*.lib
*.pdb

# —— LabVIEW —— 
# LabVIEW 编译或打包后的库和容器
*.lvlibp
*.llb

# LabVIEW 元数据文件
*.aliases
*.lvlps

# LabVIEW 缓存文件夹
.cache/
